<html>
<head>
    <meta name="csrf_token" content="{{ csrf_token() }}" />
    <meta name="authenticated_user" content="{{ current_user.username }}" />
    <meta name="login_form_username_id" content="{{ login_form.username.id }}" />
    <meta name="login_form_password_id" content="{{ login_form.password.id }}" />
    
    
    <link rel='stylesheet' type='text/css' href='static/fullcalendar/fullcalendar.css' />
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script type='text/javascript' src='static/fullcalendar/fullcalendar.js'></script>
    
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.min.css" />
    <link rel="stylesheet" href="static/site_style.css" />
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.min.js"></script>
    <script src="static/site_js.js"></script>

    <script>
    $(document).ready(
    function() 
        {
        $( "#show-login-button" ).button()
        $( "#show-login-button" ).click(show_login_dialog)
        setup_login_dialog()
        $('#calendar').fullCalendar(
            {
            dayClick: click_day,
            eventClick: click_event,
            events: '/events' //json url
            }
            )
        }
    );
    </script>
    
</head>
<body>
    
    {% if current_user.is_authenticated() %}
    <h2>{{current_user.username}}</h2>
    
    
    <select class="ui-widget ui-widget-content ui-state-default ui-corner-left" id="event-type" onChange="event_type_change(this)">
    {% for event_type in event_types %}
        <option value="{{event_type[0]}}">{{event_type[1]}}</option>
        {% endfor %}
    </select> 

    <div id=statistics class=statistics>
    {% include 'statistics.html' %}
    </div>
    <br/>

    
    
    {% else %}
    <input id="show-login-button" type=button value="Login"/>
    <br/><br/>
    {% endif %}
    
    <br/>
    <div id='calendar'></div>
    {% include 'login-dialog.html' %}
</body>
</html>
